@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;
  font-synthesis: none;
  --primary-color: #FF5E5E;
  --secondary-color: #5e6eff;
  --accent-color: #bababa;
  --text-color1: black;
  --text-color2: white;

  width: 100%;
  height: 100%;
}

*{
  margin: 0;
  padding: 0;
}